{% extends 'inventory/base.html' %}
{% load static %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% if job %}
    <h2>Adding item for the job at:<a href=" {% url 'update_job' job.job_id %} ">{{ job.address }}</a><br /></h2>
  {% else %}
    <h2>Adding item to warehouse</h2>
  {% endif %}

  <section class="form-section">
    {% if job %}
      <button id="toggle-stock-items" class="btn btn-primary" onclick="toggleStockItems()">Show Stock Items</button>
    {% endif %}
    <form id="item-form-container" action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}

      <div class="form-group">{{ form.as_p }}</div>

      <div class="form-group">
        <button type="submit" name="adding_new" class="btn-submit">Add part</button>
      </div>
    </form>
    {% if job %}
      <form id="stock-items-form-container" action="" method="POST" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}

        <div class="form-group">{{ stock_items_form.as_p }}</div>

        <div class="form-group">
          <button type="submit" name="adding_from_stock" class="btn-submit">Add part</button>
          <button type="submit" name="searching_warehouse" class="btn-submit">Search</button>
        </div>
      </form>
    {% endif %}
  </section>
  <script>
    function toggleStockItems() {
      // Get the ItemForm and StockItemsForm containers
      const itemFormContainer = document.getElementById('item-form-container')
      const stockItemsFormContainer = document.getElementById('stock-items-form-container')
      const toggleButton = document.getElementById('toggle-stock-items')
    
      // Check if the containers exist
      if (itemFormContainer && stockItemsFormContainer) {
        // Toggle between enabling/disabling forms
        if (itemFormContainer.querySelector('button[type="submit"]').disabled) {
          // Enable ItemForm and disable StockItemsForm
          toggleFormState(itemFormContainer, false)
          toggleFormState(stockItemsFormContainer, true)
          toggleButton.textContent = 'Add items from stock'
        } else {
          // Enable StockItemsForm and disable ItemForm
          toggleFormState(itemFormContainer, true)
          toggleFormState(stockItemsFormContainer, false)
          toggleButton.textContent = 'Add items'
        }
      } else {
        console.error('ItemForm or StockItemsForm container not found!')
      }
    }
    
    function toggleFormState(formContainer, disable) {
      // Disable or enable all form fields and buttons
      const fields = formContainer.querySelectorAll('input, select, textarea, button')
      fields.forEach((field) => {
        field.disabled = disable
      })
    }
    
    // Set the default state to enable the ItemForm and disable the StockItemsForm
    document.addEventListener('DOMContentLoaded', () => {
      const itemFormContainer = document.getElementById('item-form-container')
      const stockItemsFormContainer = document.getElementById('stock-items-form-container')
      if (itemFormContainer) toggleFormState(itemFormContainer, false) // Enable ItemForm
      if (stockItemsFormContainer) toggleFormState(stockItemsFormContainer, true) // Disable StockItemsForm
    })
  </script>
{% endblock %}
