{% extends 'inventory/base.html' %}
{% load static %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <section class="form-section">
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}

      <div class="form-group">{{ form.as_p }}</div>

      <div class="form-group">
        <button type="submit" class="btn-submit">Add part</button>
      </div>
    </form>
  </section>
{% endblock %}
