{% extends 'inventory/base.html' %}
{% load static %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <section class="form-section">
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}

      <div class="form-group">{{ form.as_p }}</div>

      <div class="form-group">
        <button type="submit" class="btn-submit">Add job</button>
      </div>
    </form>
  </section>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <!-- Flatpickr JS -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <script>
    flatpickr('.flatpickr_date', {
      enableTime: false,
      dateFormat: 'Y-m-d',
      altInput: true,
      altFormat: 'F j, Y'
    })
    flatpickr('.flatpickr_from_time', {
      enableTime: true,
      noCalendar: true,
      dateFormat: 'H:i',
      altInput: true,
      altFormat: 'h:i K',
      allowInput: true,
      onReady: function (selectedDates, dateStr, instance) {
        instance._input.addEventListener('keydown', function (e) {
          if (e.key === 'Backspace' || e.key === 'Delete') {
            instance.clear()
          }
        })
      }
    })
    
    flatpickr('.flatpickr_to_time', {
      enableTime: true,
      noCalendar: true,
      dateFormat: 'H:i',
      altInput: true,
      altFormat: 'h:i K',
      allowInput: true, // ⬅️ Allows manual editing (including clearing)
      onReady: function (selectedDates, dateStr, instance) {
        // ⬅️ Enable clear when backspacing or deleting
        instance._input.addEventListener('keydown', function (e) {
          if (e.key === 'Backspace' || e.key === 'Delete') {
            instance.clear()
          }
        })
      }
    })
  </script>
{% endblock %}
