{% extends 'inventory/base.html' %}
{% load static %}
{% load custom_tags %}
{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <H3>Update user</H3>
  {% if worker.is_banned %}
    <h2><span style="
        display: inline-block;
        padding: 5px 10px;
        font-size: 1.2rem;
        font-weight: normal;
        color: #333;
        background-color: rgb(255, 66, 66);
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      ">Banned</span></h2>
  {% endif %}
  <!-- Modern Form Section -->
  <section class="form-section">
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}

      {% if not editing %}
        <div class="form-group">
          <button type="submit" name="edit" class="btn-submit">Edit</button>
        </div>
      {% endif %}
      {% if editing and not changing_password %}
        <div class="form-group">
          <button type="submit" name="change_password" class="btn-submit">change password</button>
        </div>
      {% endif %}
    </form>
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}

      <div class="form-group">{{ form.as_p }}</div>

      {% if changing_password %}
        <div class="form-group">
          <button type="submit" name="confirm_new_password" class="btn-submit">Confirm new password</button>
        </div>
      {% endif %}
      {% if editing and not changing_password %}
        <div class="form-group">
          <button type="submit" name="update" class="btn-submit">Save</button>
        </div>
      {% endif %}
    </form>
  </section>

  <!-- Job Summary Section -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
