{% extends 'inventory/base.html' %}
{% load static %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <!-- Modern Form Section -->
  <h2 style="margin-bottom: 20px; font-size: 1.5rem; font-weight: bold;">
    <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    
    background-color:rgba(182, 182, 182, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  "><span style="color: rgba(0, 0, 0, 0.77);">Part Number:</span><span style="font-weight: bolder;
    color: rgb(212, 123, 5);">{{ item.part_number }}</span></span>
    <span style="font-weight: bolder;
    color: rgb(212, 123, 5);"></span>
    {% if item.arrived and not item.is_used %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #333;
    background-color:rgba(5, 122, 1, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
  ">Arrived</span>
    {% elif item.ordered and not item.is_used %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color: rgba(228, 216, 51, 0.99);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
  ">Ordered</span>
    {% elif not item.ordered and not item.from_warehouse and not item.is_used %}
      <span style="
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgb(0, 0, 0);
  background-color:rgba(255, 98, 98, 0.99);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
">Not Ordered</span>
    {% elif item.is_used %}
      <span style="
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgb(238, 238, 238);
  background-color:rgba(77, 9, 9, 0.99);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
">Used</span>
    {% endif %}
    {% if item.from_warehouse %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color:rgba(157, 119, 192, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
  ">From warehouse</span>
    {% endif %}
    {% if item.was_for_job and item.from_warehouse %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color:rgba(119, 163, 192, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
  ">Was for {{ item.was_for_job }}</span>
    {% endif %}
  </h2>

  <section class="form-section">
    <h3>Part name:&nbsp{{ item.name }}</h3>
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}
      <div class="form-group">
        <span><strong>Job:&nbsp</strong><a href=" {% url 'update_job' item.job.job_id %} ">{{ item.job }}</a></span>
        {{ form.as_p }}
        {% if not completed and not item.is_used %}
          <div class="form-group">
            <button name="edit" type="submit" class="btn-submit">Edit</button>
          </div>
        {% endif %}
      </div>

      <form action="POST">
        {% csrf_token %}
        <section class="form-section">
          <div class="form-group">{{ comments_form.as_p }}</div>
          <div>
            <button name="just_add_comment" type="submit" class="btn-submit">Add comment</button>
          </div>
        </section>
      </form>
    </form>
    {% if not completed and item.job.status != 'cancelled' %}
      <span>
        <form action="{% url 'update_item' item.id %}" method="POST" id="delmove" class="delete-form" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="name" value="{{ item.name }}" />
          <input type="hidden" name="part_number" value="{{ item.part_number }}" />
          <input type="hidden" name="job_id" value="{{ item.job_id }}" />
          <input type="hidden" id="action" name="action" />
          {% if not item.from_warehouse and not item.is_used and not item.job.status == 'completed' and not item.job.status == 'cancelled' %}
            <button name="delete" type="submit" class="btn btn-danger" onclick="openModal(event, this)">Delete</button>
          {% endif %}

          {% comment %}
        </form>
        <form action="{% url 'update_item' item.id %}" method="POST" class="delete-form" style="display: inline;">
          {% endcomment %}
          {% comment %} {% csrf_token %} {% endcomment %}
          {% if not item.is_used and not item.job.status == 'completed' and not item.job.status == 'cancelled' %}
            <button name="move" type="submit" class="btn btn-submit" onclick="openModal(event, this)">Move</button>
          {% endif %}
        </form>

        {% if item.is_used %}
          <small>The job was reopened, do you still have the part?</small>
          <form action="{% url 'inventory' item.id %}" method="POST">
            {% csrf_token %}
            <small><input type="hidden" name="coming_from_job" value="coming_from_job" /><button name="reset_was_it_used" type="submit" class="btn btn-danger">It's not used</button></small>
          </form>
        {% endif %}
      </span>
    {% endif %}
  </section>

  <!-- Job Summary Section -->

  <section class="items-list">
    <h5>
      <div>
        <p>
          <strong>Added by:</strong> {{ item.item.added_by.username }} <br /><strong>At</strong>: {{ item.item.added_date }}
        </p>
      </div>
    </h5>
  </section>

  <section>
    <h3>Comments</h3>
    <div class="comments-container">
      {% for comment in comments %}
        <div class="comment-card">
          <span>Added by {{ comment.added_by.username }}</span>
          <p>{{ comment }}</p>
          <span>{{ comment.added_date }}</span>
        </div>
      {% empty %}
        <p>No comments available.</p>
      {% endfor %}
    </div>
  </section>

  <div id="confirmModal" class="modal-overlay">
    <div class="modal-box">
      <p id="confirmText">Are you sure you want to save?</p>
      <div id="warnContainer"></div>

      <div id="itemsContainer"></div>

      <div class="modal-actions">
        <button id="yes" onclick="submitConfirmed()">Yes</button>
        <button id="no" onclick="closeModal()">No</button>
      </div>
    </div>
  </div>

  {% comment %} <script>
    const jobUrlTemplate = "{% url 'update_item' 0 %}"
  </script> {% endcomment %}

  <script>
    let currentForm = null
    
    function openModal(e, btn) {
      e.preventDefault()
      document.getElementById('confirmModal').style.display = 'block'
      currentForm = btn.closest('form')
      currentForm = document.getElementById('delmove')
      const partnumber = currentForm.querySelector('[name="part_number"]').value
      const jobId = currentForm.querySelector('[name="job_id"]').value
      const name = currentForm.querySelector('[name="name"]').value
      const confirmText = document.getElementById('confirmText')
      const actionname = btn.name
      const action = document.getElementById('action')
    
      action.name = actionname
    
      confirmText.innerHTML = `
                                                                                                           Are you sure you want to ${actionname} ${partnumber} of ${name} (part number: ${partnumber})?
                                                                                                        `
    }
    
    function closeModal() {
      document.getElementById('confirmModal').style.display = 'none'
    }
    
    function submitConfirmed() {
      if (currentForm) {
        currentForm.submit()
      }
    }
  </script>

  <style>
    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    
    .modal-box {
      background: white;
      width: 300px;
      max-height: 80vh; /* ✅ limit total height */
      margin: 10vh auto; /* better vertical centering */
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-direction: column; /* stack elements */
    }
    
    /* 🔥 THIS is the important part */
    #itemsContainer {
      overflow-y: auto; /* scroll only here */
      max-height: 40vh; /* adjust as needed */
      margin-top: 10px;
      text-align: left;
    }
    .field-error {
      color: red;
    }
    
    .modal-actions {
      margin-top: 10px;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
