{% extends 'inventory/base.html' %}
{% load static %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <!-- Modern Form Section -->
  <h2 style="margin-bottom: 20px; font-size: 1.5rem; font-weight: bold;">
    Part Number:
    <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #333;
    background-color:rgba(182, 182, 182, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  ">{{ item.item.part_number }}</span>
    {% if item.status == 'arrived' %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #333;
    background-color:rgba(5, 122, 1, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
  ">{{ item.status }}</span>
    {% else %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color:rgba(124, 119, 119, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
  ">{{ item.status }}</span>
    {% endif %}
    {% if item.from_warehouse %}
      <span style="
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color:rgba(157, 119, 192, 0.79);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(255, 253, 253, 0.1);
  ">From warehouse</span>
    {% endif %}
  </h2>

  <section class="form-section">
    <h3>{{ item.item.name }}</h3>
    <form action="" method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
        {% if not completed %}
          <div class="form-group">
            <button name="edit" type="submit" class="btn-submit">Edit</button>
          </div>
        {% endif %}
      </div>

      <form action="POST">
        {% csrf_token %}
        <section class="form-section">
          <div class="form-group">{{ comments_form.as_p }}</div>
          <div>
            <button name="just_add_comment" type="submit" class="btn-submit">Add comment</button>
          </div>
        </section>
      </form>
    </form>
    {% if not completed %}
      <span>
        <form action="{% url 'update_item' item.id %}" method="POST" class="delete-form" style="display: inline;">
          {% csrf_token %}
          {% if not item.from_warehouse %}
            <button name="delete" type="submit" class="btn btn-danger">Delete</button>
          {% endif %}

          {% comment %}
        </form>
        <form action="{% url 'update_item' item.id %}" method="POST" class="delete-form" style="display: inline;">
          {% endcomment %}
          {% comment %} {% csrf_token %} {% endcomment %}
          <button name="move_item" type="submit" class="btn btn-submit">Move</button>
        </form>
      </span>
    {% endif %}
  </section>

  <!-- Job Summary Section -->

  <section class="items-list">
    <h3><strong>Item</strong>:{{ item.name }}</h3>
    <ul class="item-items">
      <li class="item-item">
        <div class="item-info">
          <h4>{{ item.item.name }} - {{ item.get_status_display }}</h4>
          {% if item.item.image %}
            <img class="item-img" src="{{ item.image.url }}" alt="{{ item.item.name }}" />
          {% endif %}
          <p>
            <strong>Reference:</strong> {{ item.item.reference }}
          </p>
          <p>
            <strong>Added by:</strong> {{ item.item.added_by.username }} <br /><strong>At</strong>: {{ item.item.added_date }}
          </p>
        </div>
      </li>
    </ul>
  </section>

  <section>
    <h3>Comments</h3>
    <div class="comments-container">
      {% for comment in comments %}
        <div class="comment-card">
          <span>Added by {{ comment.added_by.username }}</span>
          <p>{{ comment }}</p>
          <span>{{ comment.added_date }}</span>
        </div>
      {% empty %}
        <p>No comments available.</p>
      {% endfor %}
    </div>
  </section>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
