{% extends 'inventory/base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <h3>Warehouse Items</h3>
  {% if warehouse_items %}
    <ul>
      {% for item in warehouse_items %}
        <li>
          <a href="{% url 'update_warehouse_item' item.id %}">{{ item.item.name }}</a> - Part Number: {{ item.item.part_number }} - Price: ${{ item.item.price }} - Status: {{ item.get_status_display }} - Quantity: {{ item.warehouse_quantity }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No items in the warehouse.</p>
  {% endif %}
  <h3>Taken warehouse items</h3>
  {% if used_warehouse_items %}
    <ul>
      {% for item in used_warehouse_items %}
        <li>
          <a href="{% url 'update_warehouse_item' item.id %}">{{ item.item.name }}</a> - Part Number: {{ item.item.part_number }} - Price: ${{ item.item.price }} - Status: {{ item.get_status_display }} - Quantity:{{ item.item.arrived_quantity }} Moved: {{ item.warehouse_quantity }}
          <span style="color: ;">Taken for job <a href="{% url 'update_job' item.job.id %}">{{ item.job }}</a></span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr />

  <h4>Items That Were Ordered for job and then moved to warehouse</h4>
  {% if moved_items %}
    <ul>
      {% for item in moved_items %}
        <li>
          <a href="{% url 'update_warehouse_item' item.id %}">{{ item.item.name }}</a> - Part Number: {{ item.item.part_number }} - Price: ${{ item.item.price }} - Status: {{ item.get_status_display }} - Quantity Moved: {{ item.warehouse_quantity }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No items have been moved for jobs.</p>
  {% endif %}
  <h3>Taken moved items</h3>
  {% comment %} {% if used_moved_items %}
    {% endcomment %}
    <ul>
      {% for item in used_moved_items %}
        <li>
          <a href="{% url 'update_warehouse_item' item.id %}">{{ item.item.name }}</a> - Part Number: {{ item.item.part_number }} - Price: ${{ item.item.price }} - Status: {{ item.get_status_display }} - Quantity: Moved: {{ item.quantity_moved }}
          <span style="color: ;">Taken for job <a href=" {% url 'update_job' item.job.job_id %} ">{{ item.job }}</a></span> <span>but was ordered for <a href="{% url 'update_job' item.was_for_job.job_id %}">{{ item.was_for_job.address }}</a></span>
        </li>
      {% endfor %}
    </ul>
    {% comment %}
  {% endif %} {% endcomment %}
  <hr />
{% endblock %}
